p{
    color:rgb(0, 0, 0);
}

.cor{
    color: chocolate;
    font-size: 32px;
}

#texto{
    color:red;
    border: 1px solid black;
    text-align: center;
}

#texto2{color:rgb(252, 71, 0);
    border: 1px solid rgb(119, 0, 255);
    text-align: center;

}
  .image-container {
    display: flex;
    justify-content: space-between; /* Para espaçamento uniforme entre as imagens */
    /* justify-content: flex-start; Para alinhar as imagens no início */
    /* justify-content: flex-end; Para alinhar as imagens no final */
    /* justify-content: center; Para centralizar as imagens */
    /* justify-content: space-around; Para espaçamento uniforme em torno das imagens */
    /* justify-content: space-evenly; Para espaçamento uniforme em torno e dentro das imagens */
  }
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que os cartões quebrem para a próxima linha se não houver espaço suficiente */
}
.card {
    width: calc(50% - 1rem); /* Para ocupar 50% do espaço, menos a margem */
    margin-bottom: 20px;
}
    .navbar-custom {
        background-color: black; /* Define a cor de fundo como preto */
    }

    .navbar-custom .nav-link.active {
        text-decoration: underline; /* Adiciona sublinhado à página ativa */
    }